.upcoming-header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.upcoming-header h3 {
    font-size: 45px;
    font-weight: bold;
}
.event_image {
    border-radius: 5px;
    padding: 10px;
}
.image-container img:hover {
    transform: scale(1.1);
    transition: all 300ms linear 0s;
}
.description h4 {
    font-weight: bold;
    font-size: 20px;
}

.actual_month {
    color: #666565;
    /* margin-bottom: 10px; */
}
.month h3 {
    font-weight: bolder;
    font-size: 20px;
}
.month p {
    color: #666565;
    font-weight: bold;
}
.learn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #02F036;
}
.learn:hover{
    background-color: red;
}
.text-button {
    color: seashell;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
}
.text-button:hover {
    color: black;
    font-weight: lighter;
}
#move-down {
    margin-bottom: 50px;
}